@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background: #111111;
}

/* shared styles */

.display-flex{
    display: flex;
}

/* navbar styles */

.navbar{
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.company-name{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav-options{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.nav-item{
    list-style: none;
    padding: 15px 5px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.home-style{
    border-radius: 39px;
    background: rgb(230, 83, 60);
    padding: 12px 24px;
}
.about-style{
    padding: 12px 24px;
}

/* media query for small device*/

@media screen and (max-width: 576px) {
    .navbar{
        width: 100%;
        flex-direction: row;        
    }
    .nav-options{
        display: none;
    }
    .menu-bar{
        display: block;
        color: #FFFFFF;
    }
}

/* media query for large device*/

@media screen and (min-width: 992px) {
    .navbar{
        width: 100%;       
    }
    .menu-bar{
        display: none;
    }
}