@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background: #111111;
    margin-left: 190px;
    margin-right: 140px;
}

/* shared styles */

.display-flex{
    display: flex;
}
.common-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.common-btn{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 12px 24px;
}
.common-heading{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

/* navbar styles */

.navbar{
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.company-name{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav-options{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.nav-item{
    list-style: none;
    padding: 15px 5px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.home-style{
    border-radius: 39px;
    background: rgb(230, 83, 60);
    padding: 12px 24px;
}

/* banner styles */

.banner{
    flex-direction: row;
    justify-content: space-between;
}
.banner-title{
    color: #FFFFFF;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 8.8rem;
    font-weight: 400;                                                
}
#btn{
    background: #111111;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    margin: 0px 14px;
}
.banner-right{
    position: relative;
}
.banner-right>img{
    width: 349px;
    height: 580px;
    margin-left: 250px;
}
#top-right-btn{
    flex-direction: column;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
    margin-top: -450px;
    margin-left: 490px;
}
#top-right-btn-h{
    color: rgb(255, 255, 255);;
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 3.2rem;    
}
#bottom-left-btn{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 23px;
    position: absolute;
    margin-top: -180px;
    margin-left: 150px;
}
#bottom-left-btn-h{
    color: rgb(255, 255, 255);;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 2rem;
}

/* change your habits styles */

.change-your-habits-heading{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
#change-your-habits-heading-p{
    width: 671px;
    height: 48px;
}
.change-your-habits-card{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.change-your-habits-card>img{
    border-radius: 50%;
    border: 1px solid gray;
}
.change-your-habits-card>h6{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 6px;
}
.change-your-habits-card>p{
    text-align: center;
}

/* run an extra mile styles */

.run-an-extra-mile{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    height: 371px;
    border-radius: 1.1rem;
    background: #222222;  
    margin: 0 auto;
    margin-top: 40px; 
}
.raem-left{
    padding: 40px 55px;
}
.raem-right{
    padding: 30px 32px;
}
.raem-right>img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit: none;
    object-position: 68% 30%;
}

/* bmi starts here */

/* .bmi{
    width: 100%;
    margin: 0 auto;
}
.bmi-calculator-heading{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14;
    margin-left: 385px;
}
.bmi-body{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1440px;
    height: 487px;
    background-color: #222222;
    margin-left: -150px;
}
.bmi-calculator-chart{
    width: 40%;
    margin-left: 180px;
    margin-top: 20px;
}
.bmi-calculator-chart>h3{
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.bmi-calculator-chart>table,th,td{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 15px;
}
.calculate-your-bmi{
    width: 60%;
    margin-top: 20px;
    margin-right: 150px;
    color: rgb(255, 255, 255);
}
.calculate-your-bmi>h3{
    font-size: 1.75rem;
    margin-bottom: 14px;
}
.calculate-your-bmi>h6{
    font-size: .95rem;
    margin-bottom: 30px;
    font-weight: 400;
}
.input-buttons{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
input{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 30px;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}
#select{
    width: 100%;
    height: 48px;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    margin-bottom: 0.8rem;
} */

/* meet out team starts here */

.meet-our-team-img-container{
    width: 1060px;
    height: 604px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1.25rem;
}
.mot-cards{
    padding: 10px;
}
.mot-img>img{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}
.mot-name>h3{
    color: rgb(255, 255, 255);
    margin-top: -70px;
    margin-left: 20px;
}
.mot-title>p{
    margin-left: 20px;
}

/* footer starts here*/

footer{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 90px;
}
.footer-section{
    width: 100%;
    margin: 30px 60px;
    gap: 30px;
}
.footer-first-part{
    width: 40%;
    margin-right: 100px;
}
.footer-first-part>h1{
    color: rgb(230, 83, 60);
    font-size: 4.3rem;
    font-weight: 800;
    font-style: italic;
}
.footer-first-part>p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .95rem;
    font-weight: 400;
    margin-left: 0;
}
.footer-second-part{
    color: white;
    width: 30%;
}
.footer-second-part>h3{
    font-size: 2rem;
    font-weight: 700;
}
.fsp-options{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    gap: 20px;
}
.fsp-options>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.footer-third-part{
    color: white;
    width: 30%;
}
.footer-third-part>h3{
    font-size: 2rem;
    font-weight: 700;
}
.ftp-options{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    gap: 20px;
}
.ftp-options>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.footer-p{
    margin: 30px auto;
    text-align: center;
}
.fdown-side{
    flex-direction: column;
}
.fdown-side>hr{
    margin-left: -10px;
    margin-top: 20px;
    margin-bottom: 0;
    width: 1059.5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
/* media query for small device*/

@media screen and (max-width: 576px) {
    body{
        margin: 10px;
    }
    .navbar{
        width: 100%;
        flex-direction: row;        
    }
    .nav-options{
        display: none;
    }
    .menu-bar{
        display: block;
        color: rgb(255, 255, 255);
    }
    .banner{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
    }
    .banner-right>img{
        width: 349px;
        height: 580px;
        margin-left: 40px;
    }
    #top-right-btn{
        margin-top: -540px;
        margin-left: 240px;
    }
    #top-right-btn-h{
        font-size: 1.9rem;
        margin-right: 1.9rem;
    }
    #top-right-btn-h-p{
        font-size: .7rem;
    }
    #bottom-left-btn{
        margin-top: -330px;
        margin-left: 10px;
    }
    .change-your-habits-cards{
        display: grid;
        grid-template-rows: 4fr;
    }
    .common-heading{
        font-size: 1.9rem;
    }
    #change-your-habits-heading-p{
        width: 316px;
        height: 72px;
    }
    .change-your-habits-card>p{
        width: 231px;
        height: 36px;
    }
    .run-an-extra-mile{
        flex-direction: column;
        width: 353px;
        height: 531px;
        margin: 0 auto;
        padding-top: 0;
        gap: 10px;
    }
    .raem-left>button{
        width: 287px;
        height: 54px;
    }
    .raem-right>img{
        width: 287px;
        height: 170px;
        border-radius: 18px;
        object-fit: cover;
        margin-top: -60px;
    }
    /* bmi */
    .bmi{
        width: 100%;
        margin: 0 auto;
    }
    .bmi-calculator-heading{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 14;
        width: 100%;
        margin-left: 5px;
    }
    .bmi-body{
        display: grid;
        grid-template-rows: 2fr;
        width: 394px;
        height: 772px;
        background-color: #222222;
        margin: 0 auto;
    }
    .bmi-calculator-chart{
        width: 100%;
        margin-left: 50px;
    }
    .bmi-calculator-chart>h3{
        font-size: 1rem;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
   .bmi-calculator-chart>table,th,td{
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-collapse: collapse;
        padding: 15px;
    }
    .calculate-your-bmi{
        width: 100%;
        color: rgb(255, 255, 255);
    }
    .calculate-your-bmi-heading{
        padding: 20px;
    }
    .calculate-your-bmi>h3{
        font-size: 1rem;
        margin-bottom: 14px;
    }
    .input-buttons{ 
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin-bottom: -10px;
    }
    input{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        border: none;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.6);
    }
    #input-btn{
        margin-bottom: 10px;
    }
    #select{
        padding: 10px;
        font-size: 1rem;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
        border: none;
        margin-bottom: 0.8rem;
    }
    .meet-our-team-img-container{
        width: 353px;
        height: 1810px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 1.25rem;
    }
    .mot-cards{
        padding: 10px;
    }
    .mot-img>img{
        width: 326.67px;
        height: 272px;
        border-radius: 18px;
    }
    .mot-name>h3{
        color: rgb(255, 255, 255);
        margin-top: -70px;
        margin-left: 20px;
    }
    .mot-title>p{
        margin-left: 20px;
    }
    .footer-section{
        width: 100%;
    }
    .footer-first-part>h1{
        margin-left: -50px;
    }
    .footer-first-part>p{
        margin-left: -50px;
        margin-right: 0;
    }
    .footer-second-part{
        color: white;
        width: 100%;
    }
    .footer-second-part>h3{
        font-size: 2rem;
        font-weight: 700;
    }
    .fsp-options{
        display: grid;
        grid-template-rows: repeat(4, 1fr);;
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;
    }
    .footer-third-part{
        color: white;
        width: 100%;
    }
    .footer-third-part>h3{
        font-size: 2rem;
        font-weight: 700;
    }
    .ftp-options{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;
        gap: 20px;
    }
    .footer-p{
        margin-left: -30px;
        text-align: center;
    }
    .fup-side{
        display: grid;
        grid-template-rows: 1fr;
    }
    .fdown-side{
        flex-direction: column;
    }
    .fdown-side>hr{
        margin-left: -50px;
        margin-top: 20px;
        margin-bottom: 0;
        width: 280px;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
}

/* media query for large device*/

@media screen and (min-width: 992px) {
    .navbar{
        width: 100%;       
    }
    .menu-bar{
        display: none;
    }
}